
*{
    margin: 0px;
    padding: 0px;
}

/*inicio*/

body{
    background-image: url(./imagenes/aipods\ max.webp);
    background-size: cover;
    margin: auto;
    @import url: ("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");
    @import url:("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
    font-family: 'Poppins', 'Barlow Semi Condensed', sans-serif;
    
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 18, 70, 0.744);
    
}

nav{
    margin: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 1500px;
    height: 100px;    
}

ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;
}

ul li a{
    margin:20px;
    text-align: center;
    font-size: 25px;
    color: rgb(245, 237, 237);
}

a:hover{
    background-color: blueviolet;
    cursor: pointer;

}
    

.logo{
    width: 50px;
}

.airpods{
    animation: bump-up 0.5s ease-in-out infinite alternate;
    width: 200px;
    margin: 30px;


}

@keyframes bump-up {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
    }


section {
    display: flex;
    flex-direction:row;
    margin: 100px;
   
}

section div h2{
    color: #ffffff;
    font-size: 25px;
    margin: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

section h3{ 
    color: #fff;
    margin: 30px;
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}

.cajamadre{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cajahijo{
    background-color:rgba(72, 117, 133, 0.575);
    color: #fff;
    text-align:left;
    font-size: 22px;
    padding: 25px;
    margin: 20px;
    opacity: 0;
    animation: fade-in 1s ease-in forwards;
}

.cajahijo li{
    padding: 10px;
}

footer{
    background-color: black;
    display: flex;
    flex-direction:column;

}


footer h2 { 
    margin: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer ul li a {
    color: #fff;
}

@media screen and (max-width:768px){

    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        background-image: url(./imagenes/aipods\ max.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
        font-family: 'Poppins', sans-serif;
    }
    
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
    }
    
    nav{
        width: 370px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 330px;
    }
    
    ul li{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin: 3px
    }

    ul li a{
        cursor: pointer;
        margin:5px;
        font-size: 10px;
        color: rgb(245, 237, 237);
        }
    
    a:hover{
        cursor: pointer;
        background-color: rgb(237, 231, 237);
        }    
        
            
    
    .logo{
        width: 40px;
        padding: 10px;
        height: 50px;
    }

    .airpods{
        width: 200px;
        margin: 30px;
        animation: bump-up 0.5s ease-in-out infinite alternate;
    }

    @keyframes bump-up {
        0% {
          transform: translateY(0);
        }
        100% {
          transform: translateY(-10px);
        }

    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin: auto;
        
       
       
    
    }
    
    section div h2{
        color: #ffffff;
        font-size: 30px;
        font-family: 'Barlow Semi Condensed', sans-serif;
    }
    
    
    .cajamadre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        margin: 20px;
    
    }
    
    .cajahijo{
        background-color:rgba(72, 117, 133, 0.575);
        color: #fff;
        display: flex;
        flex-direction: column;
        text-align:left;
        font-size: 16px;
        width: 260px;
    }

    .cajahijo li {
        margin: 10px;
    }






    footer{
        background-color: black;
        display: flex;
        flex-direction:column;
        height:auto;
    
    }
    
    
    footer h2 { 
        margin: 10px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    footer ul li a {
        color: #fff;
    
    }


}
