/*global*/

*{
    margin: 0px;
    padding: 0px;
}

/*inicio*/

body{
    background-image: url(./imagenes/bgcontacto.png);
    background-size: cover;
    margin: auto;
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
    font-family: 'Poppins', sans-serif;
}


header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(61, 18, 70, 0.744);
}

nav{
  margin: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 100px;    
}

ul {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  list-style: none;
}

ul li a{
  margin:20px;
  text-align: center;
  font-size: 25px;
  color: rgb(245, 237, 237);
}

a:hover{
  background-color: blueviolet;
  cursor: pointer;

}
  

.logo{
  width: 50px;
 

}

.logocontacto1{
    width: 100px;
}

.title1{
    font-size: 45px;
    margin: 100px;
}

.form_contacto {
    display: flex;
    flex-direction: column;
    margin-top:10px;
    color: #fff;
    max-width: 400px;
  }
  .form_contacto_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .form_contacto input {
    min-height: 25px;
    border-radius: 2px;
    padding: 0px 5px;
  }
  .form_contacto input, .form_contacto textarea {
    background-color: rgba(121, 80, 57, 0.5843137255);
    border: none;
    color: #fff;
    padding: 0px 5px;
  }
  .form_contacto input:focus, .form_contacto textarea:focus {
    outline-color: #e83151;
  }
  .form_contacto label {
    margin-top: 20px;
    font-size: 20px;
  }
  .form_contacto h2 {
    font-size: 48px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px black;
    -moz-text-stroke: 2px black;
    text-transform: uppercase;
  }
  .form_contacto span {
    display: flex;
    flex-direction: row;
  }
  .form_contacto span img {
    width: 120px;
    margin-top: 30px;
  }
  
button{
   width: 300px;
   background-color: #ffffff00;
   border: 10px;
}

.logoocontacto1{
    width: 100px;

}




footer{
    margin-top: 130px;
    background-color: black;
    display: flex;
    flex-direction:column;

}


footer h2 { 
    margin: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer ul li a {
    color: #fff;
    }



/*responsive*/

@media screen  and (max-width: 768px) {
  *{
      margin: 0px;
      padding: 0px;
  }
  
  body{
      background-image: url(./imagenes/bgcontacto.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
      font-family: 'Poppins', sans-serif;
  }
  
  
  header{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      

  
      

  }
  
  nav{ 
      width: 370px;

  }

  ul{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style: none;
      width: 330px;

  

  }
  
  
  ul li {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      margin: 3px;
      

  }
  

  ul li a{
      cursor: pointer;
      margin:5px;
      font-size: 10px;
      color: rgb(245, 237, 237);
  
  }

  a:hover{
      cursor: pointer;
      background-color: rgb(237, 231, 237);
  }
      
  

  .logo{
      width: 40px;
      height: 50px;
      padding: 10px;
  }
  }


  footer{
    background-color: black;
    display: flex;
    flex-direction:column;
    height:auto;

}


footer h2 { 
    margin: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer ul li a {
    color: #fff;

}
