

*{
    margin: 0px;
    padding: 0px;
}

/*inicio*/

body{
    background-image: url(./imagenes/bg\ inicioo.webp);
    background-size: cover;
    margin: auto;
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
    font-family: 'Poppins', sans-serif;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(61, 18, 70, 0.744);
    
}

nav{
    margin: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 1500px;
    
}

ul {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style: none;
}

ul li a{
    margin:20px;
    text-align: center;
    font-size: 25px;
    color: rgb(245, 237, 237);
}

a:hover{
    background-color: blueviolet;
    cursor: pointer;

}
    

.logo{
    width: 50px;
  
}



section{
    
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    width:auto;
}

.cajamadre{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin: 40px;
}


.caja1{
    width: 200px;
    margin: 30px;
    text-align: center;
    color: #fff;
    background-color: black;
    
}

.caja1 h2{
    font-size: 30px;
    
}

.caja1 p {
    margin: 20px;
    font-size: 20px;
}

.iphones1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 80px;
    width: 700px;
}

.telefono{
    width: 340px;
    margin: 10px;
}

footer{
    background-color: black;
    display: flex;
    flex-direction:column;
    height: 200px;

}


footer h2 { 
    margin: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer ul li a {
    color: #fff;

}




@media screen and (max-width: 768px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    
    body{
        background-image: url(./imagenes/bg\ inicioo.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
        font-family: 'Poppins', sans-serif;
    }
    
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        

    
        

    }
    
    nav{ 
        width: 370px;

    }

    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        width: 330px;

    

    }
    
    
    ul li {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        margin: 3px;
        

    }
    

    ul li a{
        cursor: pointer;
        margin:5px;
        font-size: 10px;
        color: rgb(245, 237, 237);
    
    }

    a:hover{
        cursor: pointer;
        background-color: rgb(237, 231, 237);
    }
        
    

    .logo{
        padding: 10px;
        width: 40px;
        height: 50px;
    }

   section{
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   }

   .cajamadre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   }




   .telefono{
    display: flex;
    width: 300px;

   }

   

   .iphones1{

    width: 220px;
   }

footer{
    background-color: black;
    display: flex;
    flex-direction:column;
    height:auto;

}


footer h2 { 
    margin: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer ul li a {
    color: #fff;

}



}
